# Ignore the build directory
build/
BUILD/

# Ignore CMake intermediate files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore Visual Studio build files
*.tlog
*.vcxproj*
*.pdb
*.obj
*.idb
*.ilk
*.log
*.ipch
*.user

# Ignore temporary test files
Testing/
CTestTestfile.cmake
Temporary/

# Ignore debug and release outputs
Debug/
Release/
x64/
*.exe
*.out
*.a
*.lib
*.o
*.dll

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Editor-specific files
.vscode/
*.code-workspace

# System-specific files
.DS_Store
Thumbs.db
